<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <label for="recipeName">שם המתכון:</label>
  <input type="text" id="recipeName" formControlName="recipeName">

  <label for="categoryCode">קטגוריה:</label>
    <select formControlName="categoryCode" id="categoryCode">
      <!-- <option value="">כל הקטגוריות</option> -->
      <option *ngFor="let category of categories" [value]="+category.code">{{category.name}}</option>
    </select>

  <!-- ניתן להוסיף כאן עוד שדות כגון זמן הכנה, דרגת קושי וכו' -->
  <label for="preparationTimeMinutes">זמן הכנה</label>
  <input type="number" id="preparationTimeMinutes" formControlName="preparationTimeMinutes">

  <label for="difficultyLevel">דרגת קושי:</label>
  <input type="number" id="difficultyLevel" formControlName="difficultyLevel">
  
  <div formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredients.controls; let i=index" class="input-group">
      <input type="text" [formControlName]="i" placeholder="מרכיב">
      <button class="remove" type="button" (click)="removeIngredient(i)">הסר</button>
    </div>
    <!-- <button type="button" (click)="addIngredient()">הוסף מרכיב</button> -->
  </div>
  
  <div formArrayName="preparationSteps">
    <div *ngFor="let step of preparationSteps.controls; let i=index">
      <input type="text" [formControlName]="i" placeholder="שלב הכנה"
       (blur)="managePreparationSteps(preparationSteps.value)">
      <!-- <input type="text" [formControlName]="i" placeholder="שלב הכנה"> -->
      <button class="remove" type="button" (click)="removeStep(i)">הסר</button>
    </div>
    <!-- <button type="button" (click)="addStep()">הוסף שלב</button> -->
  </div>

  <label for="imageRoute">לינק לתמונה :</label>
  <input type="text" id="imageRoute" formControlName="imageRoute">

  <button type="submit">שמור מתכון</button>
</form>
