

<!-- *ngIf="isCurrentPage('home')" -->
    
<nav >
        <div id="contain">
            <button routerLink="/login" class="btn btn-primary"> <a >התחברות</a></button>
            <button routerLink="/register" class="btn btn-primary"> <a >רישום</a></button>
            <button routerLink="/log-out" class="btn btn-primary"><a>התנתקות</a> </button>
            <button routerLink="/all-recipe" class="btn btn-primary"><a >כל המתכונים</a> </button>
            <button routerLink="/add-recipe" class="btn btn-primary"><a >הוספת מתכון</a></button>
        </div>
    
</nav>


<ng-content ></ng-content> 
