
   <div></div>

   <form (ngSubmit)="displayAllRecipe()">
    <input  class="form-control" type="text" placeholder="שם" [(ngModel)]="username" name="username">
    <input class="form-control" type="text" placeholder="כתובת" [(ngModel)]="adress" name="adress">
    <input class="form-control" type="email" placeholder="מייל" [(ngModel)]="mail" name="mail" >
    <input class="form-control" type="password" placeholder="סיסמה" [(ngModel)]="password" name="password">
    <button  class="btn btn-primary"  type="submit">הרשם</button>

  </form>


